// Custom.scss
// Option B: Include parts of Bootstrap

@import "../node_modules/bootstrap/scss/functions"; // Required
@import "../node_modules/bootstrap/scss/variables"; // Required
@import "../node_modules/bootstrap/scss/mixins"; // Required
// @import "../node_modules/bootstrap/scss/utilities"; // Required


$light:#FEF6E9;

$gray-100: tint-color($light, 80%);
$gray-200: tint-color($light, 60%);
$gray-300: tint-color($light, 40%);
$gray-400: tint-color($light, 20%);
$gray-500: $light;
$gray-600: shade-color($light, 20%);
$gray-700: shade-color($light, 40%);
$gray-800: shade-color($light, 60%);
$gray-900: shade-color($light, 80%);
$black: rgb(75, 67,67);
$white: $gray-200;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
);

$primary:      #BD4F3E;// rgb(201, 83, 66);   // #ed3c21;
$secondary:     #51c0b4;
$success:     #A7D984; //  rgb(150,204,125);
$info:       #AFE2E3; //   rgb(175,227,227);
$warning:     #FFE586; //  rgb(255,228,134);
$danger:        rgb(212,106, 80);
$light:         $gray-400;
$dark:         $gray-900;

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
);

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


// $font-family-base: azo-sans-web, sans-serif;
$font-family-base: duper, sans-serif; 
// $font-size-root:              null !default;
$font-size-base: 1rem;
$line-height-base: 1.5;
// $link-color: $primary;

$body-bg: $gray-500;
$body-color: $black;

$link-color:                              $primary;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage);
$link-hover-decoration:                   null !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary;

$pagination-color:                  $link-color;
$pagination-bg:                     $gray-100;
$pagination-border-width:           $border-width !default;
$pagination-border-radius:          $border-radius !default;
$pagination-margin-start:           -$pagination-border-width !default;
$pagination-border-color:           $gray-600;

$pagination-focus-color:            $link-hover-color;
$pagination-focus-bg:               $gray-200;
$pagination-focus-box-shadow:       $input-btn-focus-box-shadow;
$pagination-focus-outline:          0 !default;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               $gray-100;
$pagination-hover-border-color:     $primary;

$pagination-active-color:           $component-active-color;
$pagination-active-bg:              $component-active-bg;
$pagination-active-border-color:    $pagination-active-bg;

$pagination-disabled-color:         $gray-600;
$pagination-disabled-bg:            $white;
$pagination-disabled-border-color:  $gray-600;

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot"; // Required
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
// @import "../node_modules/bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/bootstrap-utilities";
// @import "bootstrap/scss/print";

// Add custom code after this


// .cls-1{fill: red;}
// .cls-2{fill: $white; }
// .cls-3{fill: $white; }
// .cls-4{fill: $white; }
// .cls-5{fill: $white; }


// // .bg-white {
// //   background-color: rgba(255, 255, 255, .8) !important;
// // }
// // .page-link {
// //   background-color: rgba(255, 255, 255, .6) !important;
// // }

.text-small {
    font-size: .875rem;
}

.text-capitalize-first::first-letter {
  text-transform: uppercase;
}

// .text-white-50 { color: rgba(255, 255, 255, .5); }

// .bg-purple { background-color: var(--purple); }

.bg-nav { background-color: #FDE6D8; }

.border-bottom { border-bottom: 1px solid $info !important; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .06); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }


// body {
  // background: linear-gradient(180deg, rgba(189,79,62,1) 0%, rgba(254,246,233,0) 24%, rgba(239,242,232,0) 79%, rgba(175,226,227,1) 100%) no-repeat;
// }

// body {
//   background-image: url('images/noisy-texture-100x100-o5-d15-c-ffe5db-t1.png');
// }

.page-link > .MuiSvgIcon-root {
  font-size: 1.25rem !important;
}

// .navbar {
//   min-height: 4rem;
// }

.nav-link {
  font-size: 1.25rem;
}

.navbar-toggler {
  color: $primary;
  &:focus {
    box-shadow: none;
  }
}

.btn-outline-danger:hover {
  color: $white;
}